<html lang="en">
<head>
  <h1>Dog and Owner Characteristics Predict Training Success Dataset</h1>
  <meta charset="utf-8">
</head>
<body>

<div class="alert alert-info">
<strong>Part 3: </strong> Creating a New DataFrame
</div>

</body>
</html>

In [24]:
# convert all NA values to empty cells
import pandas as pd
data = pd.read_csv("stevens_etal_2020_data1.csv")
df = pd.DataFrame(data)

In [25]:
# display df before applying changes to NaN values
df

,id,date,class,dog_age,dog_sex,dog_neutered,owner_gender,time_train_dog_weekly_num,dog_behavior_bennett_disobedient_score,dog_behavior_bennett_aggressive_score,...,pss_score,crt_score,numeracy_score,latency_sit_mean,latency_down_mean,cort1,cort2,cort3,cort4,cgc_test
0,1,9/9/18,F18,< 1 year old,Male,No,Female,0.75,-0.05,-0.64,...,0.7,2.0,3.0,30.0,1.0,0.165,0.6330,NaN,NaN,Pass
1,2,9/10/18,F18,< 1 year old,Male,No,Female,8.50,-0.18,0.38,...,1.1,1.0,2.0,1.0,2.5,0.309,0.1810,0.534,0.303,Pass
2,3,NaN,F18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,30.0,NaN,0.877,0.5790,NaN,NaN,NaN
3,4,9/14/18,F18,< 1 year old,Female,No,Female,2.00,0.15,-0.42,...,2.3,2.0,3.0,1.5,2.0,0.356,0.1980,NaN,NaN,Pass
4,5,NaN,F18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11.0,NaN,0.2110,0.364,0.300,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
94,95,NaN,U19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.5,1.0,0.215,0.3830,NaN,NaN,NaN
95,96,NaN,U19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,30.0,0.368,0.2190,NaN,NaN,NaN
96,97,5/15/19,U19,1 year old,Female,Yes,Female,0.75,0.50,-0.64,...,1.7,2.0,3.0,1.0,4.0,0.399,0.2770,0.184,0.120,Pass
97,98,5/14/19,U19,1 year old,Female,Yes,Female,2.00,0.10,-0.10,...,1.3,1.0,2.0,0.5,2.0,0.301,0.2330,0.680,0.434,Pass
98,99,5/13/19,U19,NaN,Female,Yes,Female,0.75,0.30,-0.64,...,1.2,0.0,0.0,NaN,2.0,0.416,2.5625,0.281,0.153,Pass

In [46]:
# select columns used previously
df1 = df[['id','owner_gender','personality_extraversion_score','personality_stability_score','dog_sex','dog_behavior_bennett_disobedient_score','dog_behavior_bennett_nervous_score','cgc_test']]

In [47]:
df1

,id,owner_gender,personality_extraversion_score,personality_stability_score,dog_sex,dog_behavior_bennett_disobedient_score,dog_behavior_bennett_nervous_score,cgc_test
0,1,Female,2.0,5.0,Male,-0.05,0.14,Pass
1,2,Female,3.5,4.0,Male,-0.18,0.65,Pass
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Female,3.0,3.5,Female,0.15,-0.38,Pass
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
94,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,97,Female,3.5,3.5,Female,0.50,-0.54,Pass
97,98,Female,4.0,5.0,Female,0.10,0.30,Pass
98,99,Female,3.0,5.5,Female,0.30,-0.83,Pass

In [50]:
# convert all NaN values to empty cells
df1.fillna("")

,id,owner_gender,personality_extraversion_score,personality_stability_score,dog_sex,dog_behavior_bennett_disobedient_score,dog_behavior_bennett_nervous_score,cgc_test
0,1,Female,2,5,Male,-0.05,0.14,Pass
1,2,Female,3.5,4,Male,-0.18,0.65,Pass
2,3,,,,,,,
3,4,Female,3,3.5,Female,0.15,-0.38,Pass
4,5,,,,,,,
...,...,...,...,...,...,...,...,...
94,95,,,,,,,
95,96,,,,,,,
96,97,Female,3.5,3.5,Female,0.5,-0.54,Pass
97,98,Female,4,5,Female,0.1,0.3,Pass
98,99,Female,3,5.5,Female,0.3,-0.83,Pass

In [52]:
# saved new dataframe into a new csv file with updated values
df1.to_csv(r'dog_owner.csv', index = False)